html {
}

body {
  
  line-height: 1.5;
}

#main {
  text-align: center;
  border: 2.5px solid black;
  border-radius: 50px 50px 50px 50px;
  padding: 50px;
  background: #eee;
}

#title { /*Main Title*/
    margin: 2.5% auto 2.5% auto;
    display: block;
    font-size: 2.5em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p { /*Quote*/
  font-size: 1.05em;
  font-style: italic;
  text-align: center;
}

p1{ /*Introduction*/
  margin: 2.5% auto 2.5% auto;
}

p2{ /*Images Captions*/
  text-decoration: underline;
  font-size: 1.25em;
  margin: 2.5% auto 2.5% auto;
}

p3{ /*Products Descriptions*/
  margin: 2.5% auto 2.5% auto;
}

#tribute-info {
  text-align: center;
}

#headline { /*Innovations and Designs*/
  font-size: 2.05em;
  margin: 2.5% auto 0.5% auto;
  text-align: center;
}

#image {
  display: block;
  margin: 2.5% auto 2.5% auto;
  max-width: 50%; 
  border-radius: 20%;
  align: center;
}

#img {
  display: block;
  margin: 0.5% auto 0.05% auto;
  width: 20%;
  max-width: 25%;
  border-radius: 20%;
  align: center;
}

#img-caption{
  font-size: 1.15em;
  margin: 3.5% auto 3.5% auto;
}


#tribute-link{
  margin: 50% auto 50% auto;
}







